body{
    background-color: #BF5700;
    color:#333F48;
}

.container{
     background-color: #333F48;;
     color: white;
     border-radius: 10px;
     margin-bottom: 10px;
}

a{
    color: white;
}


li a{
    color: white;
}