body{
    background-color: #003366;;
    color: #CC0033;;
}

.container{
     background-color: #CC0033;;
     color:white;
     border-radius: 10px;
     margin-bottom: 10px;
}

a{
    color: white;
}